@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Wix Madefor Display", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url('nnnoise2.svg');
  color: #333333;
}

body.dark-mode {
  color: #d8d8d8;
  min-height: 100vh;
  background: #333333;
  background-image: url('nnnoise.svg');
}

body.dark-mode .buttons a {
  background-color: #3e8987 !important;
}

body.dark-mode .section-title {
  color: #22c0ba !important;
}

body.dark-mode .nav-logo {
  filter: invert(1);
}

body.dark-mode .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #d8d8d8;
  display: inline-block;
  transition: all 0.3s;
}

body.dark-mode .navbar-toggler .navbar-toggler-icon::before,
body.dark-mode .navbar-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d8d8d8;
  transition: all 0.3s;
}

.navbar {
  background-image: url('nnnoise2.svg');
  font-weight: 500;
}

body.dark-mode .navbar {
  background-image: url('nnnoise.svg');
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  color: #1da4a0 !important;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 600;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: none;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #333333;
  display: inline-block;
  transition: all 0.3s;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333333;
  transition: all 0.3s;
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -10px;
}

.navbar-toggler .navbar-toggler-icon::after {
  bottom: -10px;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.intro-section {
  padding-top: 300px;
  padding-bottom: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section h1 {
  font-size: 60px;
  margin-bottom: 0;
  font-weight: 700;
}

.buttons a {
  background-color: #306e6c !important;
  font-weight: 700 !important;
}

.buttons a:hover {
  color: #d8d8d8;
}

.description {
  font-size: 1.5rem;
  font-weight: 300;
}

.intro-section a {
  background-color: #333333;
  color: #d8d8d8;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 0;
}

.section-heading {
  scroll-margin-top: 90px;
}

.section-title {
  color: #1da4a0;
  font-size: 35px;
  font-weight: 600;
}

.main-timeline {
  position: relative;
  margin-top: 40px;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #1da4a0;
  position: absolute;
  top: 0;
  left: 50;
}

.main-timeline .timeline {
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  left: 22px;
  z-index: 1;
}

.main-timeline .icon:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  transform: translateX(-167%);
}

.main-timeline .icon:before {
  background: #1da4a0;
  border: 2px solid #1da4a0;
  left: -0px;
}

.main-timeline .timeline-content {
  width: 100%;
  padding: 20px 0 20px 20px;
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

.main-timeline .description {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.projects-section {
  margin-top: 80px;
}

.projects-section h3 {
  font-weight: 500;
}

.project-container {
  position: relative;
}

.project-img-container {
  height: 0;
  padding-bottom: 60%;
  position: relative;
  overflow: hidden;
}

.project-img {
  filter: brightness(20%) contrast(90%);
  width: 100%;
  height: 430px;
  object-fit: cover;
  margin-top: 20px;
  transition: 0.4s;
}

.project-container:hover .project-img {
  transform: scale(1.02);
  filter: brightness(60%) contrast(90%);
}

.project-text {
  position: absolute;
  bottom: 15px;
  left: 5%;
  color: #fff;
  font-size: 20px;
  max-width: 85%;
}

.project-text p {
  font-size: 18px;
  font-weight: 500;
}

.project-text a {
  font-size: 18px;
  font-weight: 600;
  color: #d8d8d8;
  text-decoration: none;
}

.skills-section {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
  min-height: 40px;
  margin: 70px auto !important;
}

.skills-section li {
  list-style-type: none;
  font-weight: 500;
}

.section-separator {
  width: 65%;
  background-color: #000000;
  opacity: 0.5;
  margin: 0 auto;
  height: 2px !important;
}

body.dark-mode .section-separator {
  filter: invert(1);
}

.footer {
  height: 100%;
}

body.dark-mode footer a {
  color: #d8d8d8;
}

body.dark-mode .logo {
  filter: invert(1) !important;
}

.footer h2 {
  font-size: 60px;
}

.footer p {
  font-size: 13px;
  margin-top: 15px;
  letter-spacing: 4px;
}

.footer a {
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}

.footer a:hover {
  color: #1da4a0;
}

.footer .brand-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 0;
  margin-bottom: 20px;
}

.footer .brand-container .logo {
  filter: invert(0.2);
  width: 60px;
  height: 60px;
}

.footer .brand-container h2 {
  margin-bottom: 0;
}

.theme-toggle {
  background-color: transparent;
  color: #1da4a0;
  border: none;
  font-weight: 500;
}

@media (max-width: 576px) {
  .intro-section {
    padding-top: 200px;
    padding-bottom: 150px;
  }

  .intro-section h1 {
    font-size: 40px;
  }

  .intro-section .description {
    font-size: 1.2rem;
  }

  .description {
    font-size: 20px;
  }

  .main-timeline .description {
    margin-bottom: 0;
    font-size: 1rem;
  }

  .projects-section {
    margin-top: 50px;
  }

  .project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #fff;
    font-size: 20px;
    text-align: left;
    width: 90%;
  }

  .skills-section {
    min-height: 100%;
  }

  .skills-section p {
    font-size: 20px;
  }

  .skills-section ul {
    margin-top: 15px;
    padding-left: 0;
  }

  .skills-section li {
    font-size: 22px;
    text-align: center;
  }

  .footer h2 {
    font-size: 3rem;
  }

  .section-separator {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse .nav-item {
    margin: 10px 0;
    font-size: 1.1rem;
  }

  .theme-toggle {
    margin-bottom: 20px;
  }

  .intro-section h1 {
    font-size: 50px;
    font-weight: 700;
  }

  .experience-section p {
    font-size: 20px;
  }

  .contact-section button {
    border-radius: 0;
    text-align: center;
    display: block;
    margin-left: 25%;
    width: 50%;
  }

  .section-separator {
    width: 85%;
  }
}
